
center{
    margin-top: 5%;

}
input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}
small{
    color: rgb(141, 40, 94);
}
.img-size {
    width: 100%;  /* Adjust as needed */
    height: auto; /* Maintain aspect ratio */
  }
