
center{
    margin-top: 5%;

}
input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}
small{
    color: red;
}
.img-size{
    /* 	padding: 0;
        margin: 0; */
        height: 397px;
        width: 757px;
        background-size: cover;
        overflow: hidden;
    }
